# Ignore env files
.env

# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Ignore node modules
node_modules/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log